* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 16px;
    min-height: 0;
    background-color: transparent;
    color: white
}

#workspaces button {
    background-color: #88C0D0;
    border-radius: 5;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button.active {
    background-color: #B48EAD
}

